/*mobile first*/
* { margin:0; padding:0; box-sizing:border-box; }

body,html{
		height: 100%;
		margin:0;
	    /* The image used */
	    background-image: url("paper4.jpg");

	    /* Full height */

	    /* Center and scale the image nicely */
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: 1835px 1024px;
}

.flex-container {
	  display: flex;
	  flex-wrap: wrap;
	  -webkit-flex-wrap:wrap;
	}

/*klok*/
#txt{
	color:white;
	font-size:40px;
	font-family:'Marker Felt';
	text-align:center;

	/*border:solid 2px red;*/
}

.container {
	width: 250px;
	height:auto;
	margin: 100px auto;
	border: 20px solid white;
	box-shadow: 10px 12px 3px  #F9F9F9;
	box-shadow-color:white;
	background-color: #000000;
	overflow: hidden;
	text-align: center;
	padding:30px 30px 40px 20px;
	margin-top:100px;
}

/*titel*/
#gmt{
	color:white;
	font-family:'SignPainter';
	font-size:40px;
	margin-top:100px;
	text-align:center;
	font-weight:normal;
}

button{
	color:black;
	background-color:white;
	width:100px;
	height:30px;
	font-family: 'Futura';
}

/*tekst na de button*/
#demo{
	font-family:'SignPainter';
	color:white;
	font-weight:normal;
	font-size:30px;

}
/* einde mobiele scherm*/

@media (min-width: 768px) {


body,html{
	
		margin:0;
	    /* The image used */
	    background-image: url("paper4.jpg");

	    /* Full height */
	   

	    /* Center and scale the image nicely */
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: 1835px 1024px;
}

.flex-container {
	  display: flex;
	  flex-wrap: wrap;
	  -webkit-flex-wrap:wrap;
}

/*klok*/
#txt{
	color:white;
	font-size:60px;
	font-family:'Marker Felt';
	text-align:center;

	/*border:solid 2px red;*/
}

.container {
	width: 450px;
	height:250px;
	margin: 100px auto;
	border: 20px solid white;
	box-shadow: 10px 12px 3px  #F9F9F9;
	box-shadow-color:white;
	background-color: #000000;
	overflow: hidden;
	text-align: center;
	padding:30px 30px 40px 20px;
	margin-top:100px;
}


/*titel*/
#gmt{
	color:white;
	font-family:'SignPainter';
	font-size:60px;
	margin-top:100px;
	text-align:center;
	font-weight:normal;
	}

}


/* einde tablet scherm*/

/* begin laptop scherm*/

@media (min-width: 1024px) {

body,html{
	
		margin:0;
	    /* The image used */
	    background-image: url("paper4.jpg");

	    /* Full height */
	   

	    /* Center and scale the image nicely */
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: 1835px 1024px;
}


.flex-container {
	  display: flex;
	  flex-wrap: wrap;
	  -webkit-flex-wrap:wrap;
}

/*klok*/
#txt{
	color:white;
	font-size:60px;
	font-family:'Futura';
	text-align:center;

	/*border:solid 2px red;*/
}

.container {
	width: 550px;
	height:300px;
	margin: 100px auto;
	border: 20px solid white;
	box-shadow: 10px 12px 3px  #F9F9F9;
	box-shadow-color:#A8A8A8;
	background-color: #000000;
	overflow: hidden;
	text-align: center;
	padding:30px 30px 40px 20px;
	margin-top:150px;
}

/*titel*/
#gmt{
	color:white;
	font-family:'SignPainter';
	font-size:80px;
	margin-top:100px;
	text-align:center;
	font-weight:normal;
}

button{
	color:black;
	background-color:white;
	width:100px;
	height:30px;
	font-family: 'Futura';
}

/*tekst na de button*/
#demo{
	font-family:'SignPainter';
	color:white;
	font-weight:normal;
	font-size:50px;
	}
}

/* einde laptop scherm
